h1{
    color: blue;
}
#Registrar{
    background-color: beige;
    color: brown;
}

#space{
    color: rgb(31, 71, 71);
    width: 38%; 
    margin: 0 auto;
    margin-top: 5%;
}

#parrafo{
    width: 50%; 
    margin: 0 auto;
    text-align: justify;
    margin-top: 3%;
}
#body {
    background-image: url('https://cdn.pixabay.com/photo/2011/12/15/09/57/trifid-nebula-11146_1280.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
  }

  #page{
    background-color: rgba(211, 186, 186, 0.5);
    border: 1px solid #ccc;
    width: 50%; 
    margin: 0 auto;
  }

  h3{
    width: 50%; 
    margin: 0 auto;
  }
  .contenedor-imagenes {
    display: flex;
  }

  .imagen {
    width: 48%;
    margin: 0 auto;
    height: auto;
  }
  
  #descubrimientos {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
button{
  width: 60%;
  padding: 10px 20px;
}

